const char *g_explain_apinames[] = {
{%- for row in sigs: %}
    "{{ row.apiname }}",
{%- endfor %}
    NULL,
};

const char *g_explain_categories[] = {
{%- for row in sigs: %}
    /* {{ '%-32s'|format(row.apiname) }} */ "{{ row.signature.category }}",
{%- endfor %}
};

const char *g_explain_paramtypes[] = {
{%- for row in sigs: %}
    /* {{ '%-32s'|format(row.apiname) }} */ "
    {%- for param in row.prelog: -%}
        {{ param.argtype }}
    {%- endfor -%}
    {%- for param in row.parameters: -%}
        {% if param.log %}{{ types[param.argtype] }}{% endif %}
    {%- endfor -%}
    {%- for param in row.logging: -%}
        {{ param.argtype }}
    {%- endfor -%}
    ",
{%- endfor %}
};

const char *g_explain_paramnames[][16] = {
{%- for row in sigs: %}
    /* {{ row.apiname }} */
    {
    {%- for param in row.prelog: -%}
        {% if True %}"{{ param.argname }}", {% endif %}
    {%- endfor -%}
    {%- for param in row.parameters: -%}
        {% if param.log %}"{{ param.alias }}", {% endif %}
    {%- endfor -%}
    {%- for param in row.logging: -%}
        {% if True %}"{{ param.argname }}", {% endif %}
    {%- endfor -%}
    },
{%- endfor %}
};

const hook_t g_hooks[] = {
{%- for row in sigs: %}
    {%- if row.signature.category != '__notification__': %}
    {"{{row.signature.library}}", "{{row.apiname}}", (FARPROC) New_{{row.apiname}}, (FARPROC *) &Old_{{row.apiname}}, NULL},
    {%- endif %}
{%- endfor %}
    {NULL, NULL, NULL, NULL, NULL},
};
